@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  
  --color-primary: #064E3B;
  --color-primary-foreground: #FFFFFF;
  
  --color-secondary: #D4AF37;
  --color-secondary-foreground: #000000;
  
  --color-accent: #991B1B;
  --color-accent-foreground: #FFFFFF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
